.cart {
  padding-top: 200px;
}
.cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.cart-items-list {
  list-style: none;
  min-height: 300px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 50px;
  padding: 10px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 5px 10px;
  margin-bottom: 15px;
}
.cart-item-btn-delete {
  height: 40px;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.cart-select {
  height: 40px;
  width: 60px;
  padding-left: 15px;
  border-radius: 15px;
}
.cart-img {
  height: 90px;
  border-radius: 15px;
}
.cart-total-price {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5rem;
  align-items: center;
  font-weight: 500;
}
.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.amount-price-bg {
  color: #fff;
  padding: 8px 18px;
  background: #F53855;
  border-radius: 15px;
  font-weight: 500;
  margin-left: 1rem;
}
.cart-back-btn {
  color: #fff;
  padding: 8px 26px;
  background: rgb(177, 177, 177);
  border-radius: 12px;
  font-weight: 500;
}
.cart-cont-btn {
  font-size: 16px;
  color: #fff;
  padding: 8px 18px;
  background: #F53855;
  border-radius: 12px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}