.catalog-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.catalog-card {
  background: #e9e9e9;
  width: 250px;
  margin: 0 auto 20px;
  border-radius: 15px;
}
.catalog-card-img {
  width: 95%;
}
.catalog-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}
.catalog-card:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}
.catalog-card-header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #fff;
  border: 2px solid #e9e9e9;
  border-radius: 15px;
}
.catalog-card-body {
  padding: 25px;
}
.catalog-card-title {
  font-size: 18px;
  font-weight: 500;
}
.catalog-card-sec-title {
  font-size: 14px;
}
.catalog-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.catalog-card-button {
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  background: rgb(177, 177, 177);
  padding: 5px 20px;
}
