.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(233, 233, 233);
  padding: 0 30px;
}

.nav-list {
  max-width: 800px;
  width: 100%;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #0b132a;
}

.nav-active {
  background: #ececec;
  color: #0b132a;
  padding: 5px 25px;
  border-radius: 15px;
}
.link {
  padding: 5px 25px;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #fff;
}

.header-img {
  height: 36.23px;
  width: 55px;
}

.header-body {
  position: relative;
  padding: 0 1rem;
}

.menu-wrapper {
  max-width: 810px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.header-nav {
  max-width: 451px;
  width: 100%;
}

.header-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-nav-item {
  transition: all 0.2s ease-in-out;
}

.badge {
  background: #f53855;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  transform: translateX(21px);
  display: inline-block;
}

.header-nav-item:hover {
  color: #202228;
}
.header-buttons {
  margin-left: 80px;
}
.button-sign-in {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  padding: 0 30px 0 0;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-burger {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}
.line1 {
  height: 2px;
  width: 100%;
  background: #000;
}

.button-sign-up {
  background: none;
  border: 1px solid var(--header-button-color);
  border-radius: 50px;
  padding: 6px 35px;
  transition: all 0.2s ease-in-out;
}

.button-sign-up:hover {
  background: var(--header-button-color);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #7c7b7e;
  margin-left: 10px;
  transition: all .1s ease-in-out;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background: #ececec;
  margin: 0;

  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .arrow {
  transform: rotate(180deg);
  transition: all .1s ease-in-out;
}

:root {
  --main-color: #0b132a;
  --second-color: #4f5665;
  --header-button-color: #f53855;
  --button-color: #f53838;
  --footer-color: #f6f5f5;
}

@media screen and (max-width: 700px) {
  .menu-wrapper {
    flex-direction: column;
    height: 80vh;
    width: 270px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 80px;
    padding-bottom: 100px;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }
  .menu-wrapper.active-menu {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  .header-nav {
    max-height: 300px;
    height: 100%;
  }
  .header-nav ul {
    flex-direction: column;
    height: 100%;
    padding: 30px 0;
    margin: 0;
  }
  .header-buttons {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-top: 50px;
  }
  .button-sign-in {
    padding: 0;
  }
  .header-burger {
    display: flex;
  }
}
